
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Paytone-One';
  src: url("/public/font/PaytoneOne-Regular.ttf");
}

@font-face {
  font-family: 'Axiforma-Thin';
  src: url("/public/font/fonnts.com-Axiforma-Thin.ttf");
} 

@font-face {
  font-family: 'Axiforma-Light';
  src: url("/public/font/fonnts.com-Axiforma_Light.ttf");
}

@font-face {
  font-family: 'Axiforma-Medium';
  src: url("/public/font/fonnts.com-Axiforma_Medium.ttf");
}

@font-face {
  font-family: 'Axiforma-Regular';
  src: url("/public/font/fonnts.com-Axiforma_Regular.ttf");
}

@font-face {
  font-family: 'Axiforma-Black';
  src: url("/public/font/fonnts.com-Axiforma-Black.ttf");
}

@font-face {
  font-family: 'Axiforma-Heavy';
  src: url("/public/font/fonnts.com-Axiforma-Heavy.ttf");
} 

.paytone-one-regular {
  font-family: "Paytone-One";
  font-weight: 400;
  font-style: normal;
}

.axiforma-thin {
  font-family: "Axiforma-Thin"; 
}

.axiforma-regular {
  font-family: "Axiforma-Regular";
}

.axiforma-medium {
  font-family: "Axiforma-Medium";
}

.axiforma-light {
  font-family: "Axiforma-Light";
}

.axiforma-black {
  font-family: "Axiforma-Black";
}

.axiforma-heavy {
  font-family: "Axiforma-Heavy";
}

body { 
  background-color: #37137F !important;
}

.bordergradient { 
  background: linear-gradient(#F0F2FF, #F0F2FF) padding-box,
              linear-gradient(to right, #8C43FE, #37137F) border-box;
  border-radius: 8px;
  border: 2px solid transparent;
} 